/* Define the transition and rotation effect for the arrow */
.arrow-icon {
  transition: transform 0.3s ease; /* Smooth transition for transform */
}

.arrow-icon.open {
  transform: rotate(180deg); /* Rotate the arrow when the menu is open */
}
.rdrDefinedRangesWrapper {
  font-size: 12px;
  width: 226px;
  border-right: solid 1px #eff2f7;
  background: #fff;
  display: none;
}
.css-8qanes {
  background-color: #b09ce8;
  border: 2px solid #fff;
}

.css-zsa1se {
  background-color: #fff;
  color: black;
}

* {
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Style the scrollbar container */
::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
  height: 10px; /* Height of the horizontal scrollbar */
}

/* Style the scrollbar track (the part the scrollbar moves along) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray color */
  border-radius: 10px;
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888; /* Darker gray for the thumb */
  border-radius: 10px;
}

/* Style the scrollbar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Even darker gray when hovered */
}
